body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  /*background-color: cadetblue;
  width: 100%; */
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 7px solid black;
  padding: 30px;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
  /*background-color: cadetblue;  I added this one */
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}
/* I added this def below */
.saveBtn i {
  font-size: 26px;
  text-align: center;
  vertical-align: middle;
}
/* Above is what I added */

.saveBtn i:hover {
  font-size: 30px;
  transition: all .3s ease-in-out;
}
/*  From here and on */
/*.row {
  border-bottom: 5px solid red;
}
.row div {
  border: 1px solid blue;
} */
.footer-area {
  font-weight: bolder;
  font-size: larger;
  margin: 30px 0 50px;
  border: 1px solid brown;
}
footer div {
  text-align: center;
}
#hourly-div {
  border-left: none;
}